.wrap .calendarleft .calendarhead { background-position:0 0;}
.wrap .calendarleft .calendarhead .dateselect #monthdecrease:hover { background-position:-510px -26px;}
.wrap .calendarleft .calendarhead .dateselect #monthincrease:hover { background-position:-533px -26px;}
.wrap .calendarleft .calendarhead .today a:hover { background-position:-427px -26px;}
.wrap .calendarright .huanglitoday { background-image:url(../Images/today_blue.png);}
.wrap .calendarright .huangli { background-color:#e6f4fc;}
.wrap .calendarright .huangli .title { color:#0D90E3;}
.wrap .calendarright .huangli .bigday { color:#2484D8;}
.wrap .calendarright .huangli .lunardate, .wrap .calendarright .huangli .ganzhidate { color: #1F80A9; }
.Infobottom .top { background-color:#0d90e3;}
.Infobottom .content { background-color:#E6F4FC;}