/* CSS Document */
@charset "utf-8";
*,a,li,img,input{ margin:0; padding:0; list-style:none; text-decoration:none; border:none;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
html,body{font-family:"微软雅黑";margin: 0px;height: 100%;}
.clear{ clear:both;}
body .hide { display:none; }
body .hidden { visibility:hidden; }

/*login*/
.login-header{background-color: #36474F;width: 100%;height: 73%;padding-top: 200px;}
.login-top{text-align: center;color: #fff;width: 160px;height: 70px;margin-left: auto;margin-right: auto;}
.login-top1{float: left;width: 120px;height: 70px;}
.login-top2{float: left;width: 40px;height: 70px;padding-top: 16px;}
.login-top1 .text1{font-size: 32px;font-weight: normal;float: left;}
.login-top1 .text-en{width: 100px;letter-spacing: 2px;font-size: 12px;color: #727E84;float: left;}
.login{background-color: #fff;width: 427px;height: 290px;margin-left: auto;margin-right: auto;margin-top: 30px;border-radius: 5px;}
.login-input,.login-input2{width: 335px;float: left;height: 38px;border-bottom: 1px solid #ECECED;margin-left: 28px;margin-top: 50px;padding-left: 35px;outline: medium;}
.login-input{background-image: url(../Images/user.png);background-repeat: no-repeat;background-size: 15px 15px;background-position: 0 10px;}
.login-input2{margin-top: 35px;background-image: url(../Images/pwd.png);background-repeat: no-repeat;background-size: 45px 30px;background-position: -15px 0;}
.login-submit{float: left;width: 370px;height:38px;background-color: #36474F;color: #fff;border-radius: 5px;line-height: 35px;margin-left: 28px;margin-top: 50px;font-size: 16px;}
.login-footer{background-color: #2B393F;width: 100%;height: 55px;text-align: center;color: #fff;line-height: 55px;}

/*公共头部*/
.top{width: 80%;background-color: #36474F;height: 75px;margin-left: auto;margin-right: auto;font-size: 14px;position:static;}
.top1{float: left;margin-left: 30px;color: #fff;padding-top: 8px;}
.top1 .tit{font-size: 30px;}
.top1 .tit a{color: #fff;}
.top1 .en{font-size: 10px;letter-spacing: 2px;}
.top2{float: right;margin-right: 20px;color: #fff;line-height: 75px;height: 75px;}
.top2 a{color: #fff;}
#head{border-radius: 50px;}
.head-pic{height: 75px;padding-top: 18px;float: right;margin-left: 15px;}
.add{width: 100px;height: 110px;float: left;color: #fff;right: 450px;top: 20px;position: absolute;}
.add-new1{background-color: #37525B;height: 40px;line-height: 40px;text-align: center;cursor: pointer;}
.add-new2{width: 100px;height: 70px;text-align: center;background-color: #2D4047;padding-top: 5px;display: none;}
.add-new2 a{color: #fff;font-size: 14px;}
.add-new2 p{margin-top: 10px;}
.add-bg{background-color: #2D4047;}

/*memo_add*/
#stock_code{width: 300px;}
.add-info,.add-info2{width: 80%;margin-left: 18%;padding-top: 30px;height: auto;}
.add-list,.add-list2{float: left;width: 80%;margin-left: auto;margin-right: auto;height: 30px;}
.list1{border-bottom: 1px solid #CBCDCF;padding-bottom: 15px;}
.add-remind-left{float: left;color: #748A94;font-size: 18px;border-bottom: 2px solid #36474F;height: 45px;line-height: 30px;width: 80px;}
.shu{width: 1px;height: 35px;border-left: 1px solid #D9DCDE;float: left;margin-left: 12px;}
.add-remind-right{float: left;}
.add-return{width: 90px;height: 35px;border-radius: 5px;background-color: #fff;border: 1px solid #D3D6D8;font-size: 16px;cursor: pointer;color: #787979;margin-left: 20px;}
.add-save{width: 90px;height: 35px;border-radius: 5px;background-color: #FF5952;font-size: 16px;cursor: pointer;color: #fff;margin-left: 10px;}
.add-cancel{width: 90px;height: 35px;border-radius: 5px;background-color: #fff;border: 1px solid #D3D6D8;font-size: 16px;cursor: pointer;color: #787979;margin-left: 10px;}
.add-text{float: left;line-height: 30px;color: #787979;width: 69px;text-align: right;}
.add-text a{color: #787979;}
.add-input input[type=text]{float: left;border: 1px solid #D9DCDE;width: 130px;height: 30px;margin-left: 25px;}
#keywords{width: 500px;}
#content{width: 700px;height: 145px;border: 1px solid #D9DCDE;}
.add-input select{width: 130px;border: 1px solid #D9DCDE;height: 32px;}
.add-input2 input[type=text]{border: 1px solid #D9DCDE;width: 130px;height: 30px;}
.add-input input[type=checkbox]{width: 30px;height: 30px;background: red;display: block;}
#end_date2{display: none;}
.blue{width: 30px;height: 30px;background-color: #5AA8FB;color: #fff;float: left;line-height: 30px;font-size: 20px;text-align: center;margin-left: 25px;cursor: pointer;}
.yellow{width: 30px;height: 30px;background-color: #FDE067;color: #fff;float: left;line-height: 30px;font-size: 20px;text-align: center;margin-left: 25px;cursor: pointer;}
.red{width: 30px;height: 30px;background-color: #FB566A;color: #fff;float: left;line-height: 30px;font-size: 20px;text-align: center;margin-left: 25px;cursor: pointer;}
.ml25{margin-left: 25px;}

/*admin*/
.add-input input[type=password]{float: left;border: 1px solid #D9DCDE;width: 130px;height: 30px;margin-left: 25px;}
.user{margin-left: 95px;line-height: 30px;color: #787979;}

/*remind_add*/
#advance_num{width: 60px;}

/*memo_list*/
.memo-hui{color: #A3A4A4;}
.memo-liang{color: #515C66;}
.input-image{width: 50px;height: 37px;display: block;float: right;}
.ser{width: 405px;border: 1px solid #D9DCDE;height: 34px;padding-left: 10px;margin-left: 20px;}
.filter{width: 62%;border-bottom: 1px solid #D3D6D8;height: auto;float: left;padding-bottom: 10px;font-size: 14px;}
.filter-list{height: 30px;float: left;margin-top: 20px;width: 90%;}
.filter-text{color: #748A94;float: left;}
.filter-input{float: left;margin-left: 30px;}
.filter-input input[type=text]{border: 1px solid #D9DCDE;width: 130px;height: 30px;}
.filter-check{margin-left: 16px;float: left;}
.filter-check-ml20{margin-left: 30px;float: left;}
.memo-list-con{width: 62%;float: left;}
.memo-list{height: auto;float: left;width: 100%;border-bottom: 1px dashed #D3D6D8;}
.list-shu{float: left;width: 6px;height: 35px;border-radius: 8px;}
.shu-red{background-color: #FB556A;}
.shu-blue{background-color: #5AA8FB;}
.shu-yellow{background-color: #FDE066;}
.memo-list1{margin-top: 20px;}
.memo-list-tit{height: 35px;line-height: 35px;margin-left: 20px;font-weight: bold;float: left;margin-right: 40px;}
.memo-share{color: #8D9FA8;font-size: 14px;margin-top: 5px;}
.memo-list-mark{float: left;width: auto;padding-left: 10px;padding-right: 10px;height: 25px;border-radius: 8px;background-color: #CED7DB;color: #81939E;text-align: center;line-height: 25px;font-size: 14px;margin-left: 10px;margin-top: 5px;}
.memo-edit-liang,.memo-edit-hui{float: right;font-size: 14px;}
.memo-edit-liang a{color: #515C66;}
.memo-edit-hui a{color: #A3A4A4;}
.memo-list2{float: left;margin-top: 10px;font-size: 14px;width: 95%;margin-left: 25px;}
.memo-list2-tit1{color: #A3A4A4;}
/*.memo-list2-tit2{font-weight: bold;}*/
.memo-list3{float: right;font-size: 14px;margin-bottom: 10px;color: #A3A4A4;}

/*content*/
.con{width: 80%;float: left;height: auto;margin-left: auto;margin-right: auto;}
.title{float: left;margin-top: 30px;font-size: 25px;color: #748A94;text-align: center;width: 100%;}
.time{float: left;margin-top: 10px;font-size: 12px;width: 100%;text-align: center;}
.content{width: 100%;margin-top: 20px;float: left;}

/*index*/
.remind{color: #647B81;background-color: #96AFB4;height: 42px;width: 75%;margin-right: auto;margin-left: auto;line-height: 42px;text-indent: 20px;font-size: 14px;padding-right: 5%;/*overflow: hidden;*/}
.remind .maquee{height: 42px;overflow: hidden;display: block;}
.remind img{cursor: pointer;}
.index-con{background-color: #253238;width: 80%;height: auto;margin-left: auto;margin-right: auto;}
.index-left{width: 30%;float: left;background-color: #253238;height: 900px;overflow: scroll;overflow-x:hidden;overflow: auto;}/*滚动条*/
.index-left-top{width: 95%;float: left;margin-left: 20px;border-bottom: 1px solid #657074;height: 45px;}
.left-text{float: left;width: 81px;height: 45px;line-height: 45px;cursor: pointer;color: #485960;}
.index-left-live{color: #fff;border-bottom: 1px solid #fff;}
.index-left-ser{width: 95%;float: left;margin-left: 20px;padding-top: 15px;}
@media screen and (min-width: 1025px) {
.index-ser-input{width: 81%;height: 30px;padding-left: 10px;vertical-align:middle;float: left;}
}
@media screen and (min-width: 1598px) {
.index-ser-input{width: 85%;height: 30px;padding-left: 10px;vertical-align:middle;float: left;}
}
@media screen and (min-width: 1918px) {
.index-ser-input{width: 87.5%;height: 30px;padding-left: 10px;vertical-align:middle;float: left;}
}
#index_ser{width: 42px;height: 30px;vertical-align:middle;float: left;cursor: pointer;}
.index-left-tit{width: 100%;border-bottom: 1px solid #485960;float: left;padding-bottom: 5px;}
.tit1{color: #747B81;font-size: 14px;float: left;padding-top: 18px;}
.index-left-list{width: 100%;margin-top: 15px;float: left;}
.index-left-list:hover{cursor: pointer;}
.index-list-con{float: left;color: #C4CFD3;font-size: 14px;}
.index-right{width: 70%;background-color: #EAEEF1;float: left;height: 900px;overflow: scroll;overflow: auto; overflow-x: hidden;}
.index-right-memo{width: 100%;float: left;}
.index-right-top{border-bottom: 1px solid #D3D7DA;height: 45px;margin-left: 20px;}
.index-right-live{width: 81px;color: #788387;border-bottom: 2px solid #6F787D;height: 45px;line-height: 45px;float: left;}
.right-text{float: right;margin-right: 10px;font-size: 14px;height: 45px;line-height: 45px;}
.right-text a{color: #778284;}
.wauto{width: auto;}
.index-right-news{width: 100%;margin-top: 65px;float: left;}
.index-news-title{height: 45px;margin-left: 20px;border-bottom: 1px solid #D3D7DA;}
.index-news-tit{width: 45px;height: 45px;line-height: 45px;color: #788387;cursor: pointer;}
.index-news-tit-live{border-bottom: 2px solid #6F787D;}
.sh{width: 1px;height: 20px;background-color: #D3D7DA;float: left;margin-top: 15px;margin-left: 10px;}
.index-news-con{width: 100%;height: auto;float: left;padding-left: 20px;}
.index-news-list{width: 46%;float: left;margin-top: 10px;border-bottom: 1px dashed #D3D6D8;padding-bottom: 10px;}
.index-news-con-tit{float: left;color: #515C66;}
.index-news-con-tit a{color: #515C66;}
.index-news-content{float: left;font-size: 14px;color: #A3A4A4;margin-top: 10px;height: 30px;width: 100%;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.index-news-date{float: right;font-size: 14px;color: #A3A4A4;}

/*layer_share*/
.share{height: 100%;padding-left: 50px;overflow: hidden;}
.share-input{margin-top: 30px;}
.share-input input[type=text]{width: 200px;height: 22px; border: 1px solid #C4CFD3;}
.share-sub{margin-top: 60px;}
.share-submit{background-color: #36474F;color: #fff;width: 60px;height: 30px;border-radius: 5px;cursor: pointer;outline: medium;}
.share-cancel{width: 60px;height: 30px;border-radius: 5px;cursor: pointer;outline: medium;}

/*公共*/
.m30{margin-top: 30px;}
.m150{margin-top: 150px;}
.l30{line-height: 30px;}
.ml50{margin-left: 95px;}
.ml15{margin-left: 15px;}
.ml30{margin-left: 30px;}
.ml20{margin-left: 20px;}
.ml250{margin-left: 180px;}
.mr20{margin-right: 20px;}
.mr40{margin-right: 40px;}
.mb40{margin-bottom: 40px;}
.w57{width: 56px;}
.w200{width: 200px;}
.fl{float: left;}
.tl{text-align: left;}
.pd50{padding-right: 50px;}
.white{color: #fff;padding-left: 20px;}
.he{color: #788387;}
.bgi{background-color: #485357;}
